html {
    font-size: 16px;
    font-family: sans-serif;
    background-color: black;
    color: blueviolet;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bigletter {
    font-family: monospace;
    font-size: 50vw;
}